<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>entre.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>047AEF911E77B37400AAFEB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047AEFA51E77B37500AAFEB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047AEFB01E77B37500AAFEB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
